@using PlayerClient.Contract
<div class="d-flex flex-column justify-content-center gap-3 p-3 h-50">

    @if (this.IsSlotFree)
    {
        <MudCard Style="width: 300px" Elevation="15">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudSkeleton Width="50%" Height="42px;" />
                </CardHeaderContent>
            </MudCardHeader>
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="300px" />
            <MudCardContent>
                <div class="d-flex justify-content-center align-items-center gap-3 p-3 h-50">
                    <MudSkeleton Height="32px" Width="30%" />
                </div>
            </MudCardContent>
        </MudCard>

        <MudSelect T="IPlayerClientConnector" ValueChanged="JoinClient" Label="Offen" Style="height: 32px">
            @foreach (var playerClientConnector in this.AvailablePlayerClients)
            {
                <MudSelectItem T="IPlayerClientConnector" Value="playerClientConnector">@playerClientConnector.DisplayName</MudSelectItem>
            }
        </MudSelect>
    }
    else
    {
        <MudCard Style="width: 300px" Square="true" Elevation="15">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">@this.PlayerClient.Player!.Owner.DisplayName</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardMedia Image="@($"_content/Connect4.Frontend/images/{this.PlayerClient.PlayerImage}")" Height="300" />
            <MudCardContent>
                <div class="d-flex justify-content-center align-items-center gap-3 p-3 h-50">
                    @if (this.IsMyPlayer)
                    {
                        <MudCheckBox Size="Size.Large"
                                     T="bool"
                                     ValueChanged="this.ReadyChanged"
                                     Value="this.PlayerClient.Player!.IsReady"
                                     UnCheckedColor="Color.Error"
                                     Color="Color.Success"
                                     Dense="true"
                                     Label="Bereit"></MudCheckBox>
                    }
                    else
                    {
                        <MudChip Color="this.PlayerClient.Player!.IsReady ? Color.Success : Color.Error">@(this.PlayerClient.Player!.IsReady ? "Bereit" : "Nicht Bereit")</MudChip>
                    }
                </div>
            </MudCardContent>
        </MudCard>

        <MudButton OnClick="Leave" FullWidth="true">@(this.IsMyPlayer ? "Verlassen" : "Entfernen") </MudButton>
    }
</div>
